.banner {
    width: 390px;
    padding: 64px 35px;
    margin: 0px auto;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 64px;

    .banner-title {
        display: none;
    }

    .developer-info-card {
        width: 320px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 32px;
        border-radius: 160px 0px 160px 0px;
        padding: 37px 24px;
        border: 4px solid #FFFFFF;
        box-shadow: -4px -4px 2px 0px #12F7D6;
        font-family: "IBM Plex Mono", monospace;

        .profile-section {
            width: 168px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;

            img {
                width: 96px;
                margin-bottom: 16px;
            }

            h3 {
                color: #FFFFFF;
                font-size: 32px;
                font-weight: 500;
                line-height: 42px;
            }

            p {
                color: #FFFFFF;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
            }
        }

        .card-content {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .personal-info {
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 0;

                li {
                    color: #FFFFFF;
                    display: flex;
                    gap: 16px;
                    align-items: center;
                    list-style: none;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                }
            }

            .skills-list {
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
                list-style: none;
                padding: 0;

                li {
                    color: #292F36;
                    background-color: #12F7D6;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                    padding: 0px 8px;
                    border-radius: 8px;
                }
            }
        }

        .banner-cv-button {
            color: #292F36;
            background-color: #FFFFFF;
            display: flex;
            gap: 16px;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            padding: 16px;
            border-radius: 32px;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            font-family: "Ubuntu", sans-serif;
            width: 200px;
            transition: 0.25s;
        }

        .banner-cv-button:hover, .banner-cv-button:focus {
            box-shadow: inset 143px 0 0 0 #12F7D6;
            border-color: #66c887;
            color: #FFFFFF;
        }
    }

    .banner-texts {
        width: 328px;
        font-family: "IBM Plex Mono", monospace;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .title {
            font-family: "Ubuntu", sans-serif;

            h1 {
                color: #FFFFFF;
                font-size: 32px;
                font-weight: 400;
                line-height: 36px;
                padding-left: 16px;
            }

            span {
                color: #98FAEC;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
            }

            span:nth-child(2) {
                color: #12F7D6;
                font-size: 32px;
                font-weight: 400;
                line-height: 36px;
            }
        }

        .paragraph {
            p {
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                padding-left: 24px;
            }

            span {
                color: #98FAEC;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
            }
        }

        .lets-talk-text {
            color: #12F7D6;
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            text-align: left;
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }

    .experiences {
        width: 215px;
        margin: 0 auto;
        background-color: #1A1E23;
        box-shadow: 2px 2px 4px 0px #00000040;
        border-radius: 80px;
        padding: 48px 32px;
        display: flex;
        flex-direction: column;
        gap: 48px;
        font-family: "IBM Plex Mono", monospace; 

        .exp-item {
            display: flex;
            align-items: center;
            gap: 16px;

            h2 {
                color: #12F7D6;
                font-size: 48px;
                font-weight: 500;
                line-height: 62px;
                text-align: left;
            }

            p {
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                text-align: left;
            }
        }
    }
}

@media( width >= 768px) {
    .banner {
        width: 648px;
        padding: 64px 0px;
        margin-top: 93px;

        .banner-texts {
            width: 648px;
    
            .title {
                h1 {
                    font-size: 64px;
                    font-weight: 400;
                    line-height: 72px;
                }
    
                span:nth-child(2) {
                    font-size: 64px;
                    font-weight: 400;
                    line-height: 72px;
                }
            }
        }
    }
}

@media( width >= 1280px) {
    .banner {
        width: 1024px;
        padding: 64px 32px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 0px;
        align-items: center;
        justify-content: space-between;
        margin-top: 119px;

        .banner-title {
            color: #98FAEC;
            display: block;
            width: 1024px;
            font-size: 117px;
            font-weight: 400;
            line-height: 134px;
            text-align: center;
        }

        .banner-texts {
            width: 680px;
        }
        
        .experiences {
            margin: 0;
        }
    }

}