.skills {
    background-image: url(/images/skills/background.png);
    font-family: "IBM Plex Mono", monospace;
    padding: 64px 0px;

    .skills-title {
        width: 350px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 64px;

        h1 {
            color: #12F7D6;
            padding-bottom: 16px;
            border-bottom: 2px solid #12F7D6;
            font-family: "Ubuntu", sans-serif; 
            font-size: 64px;
            font-weight: 400;
            line-height: 72px;
            text-align: left;
            width: 150px;
            margin: 0 auto;
            margin-bottom: 16px;
        }

        p {
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;

        }
    }

    .development-cards {
        width: 288px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 90px;

        .dev-item {
            background-color: #98FAEC;
            width: 288px;
            padding: 16px 24px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: center;
            border-left: 8px solid #0C73B8;

            h3 {
                color: #292F36;
                font-size: 24px;
                font-weight: 400;
                line-height: 32px;
            }

            p {
                color: #43454D;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
            }
        }
    }

    .programming-languages {
        width: 288px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 32px 64px;

        p {
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            margin-top: 24px;
            text-align: center;
        }

        .language-item:nth-child(1) {
            color: #E54F26;

            img:hover {
                box-shadow: 0px 0px 70px #E54F26;
                border-radius: 50%;
                transition: box-shadow 0.3s ease;
            }
        }

        .language-item:nth-child(2) {
            color: #0C73B8;

            img:hover {
                box-shadow: 0px 0px 50px #0C73B8;
                border-radius: 50%;
                transition: box-shadow 0.3s ease;
            }
        }

        .language-item:nth-child(3) {
            color: #E7A020;

            img:hover {
                box-shadow: 0px 0px 50px #E7A020;
                border-radius: 50%;
                transition: box-shadow 0.3s ease;
            }
        }

        .language-item:nth-child(4) {
            color: #28A9E0;

            img:hover {
                box-shadow: 0px 0px 50px #28A9E0;
                border-radius: 50%;
                transition: box-shadow 0.3s ease;
            }
        }

        .language-item:nth-child(5) {
            color: #000000;

            img:hover {
                box-shadow: 0px 0px 50px #000000;
                border-radius: 50%;
                transition: box-shadow 0.3s ease;
            }
        }
    }
}

@media(width >= 768px) {
    .skills {
        .skills-title {
            width: 640px;
        }

        .development-cards {
            width: 640px;
            flex-direction: row;
            gap: 32px;
    
            .dev-item {
                background-color: #98FAEC;
                width: 288px;
                padding: 16px 24px;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                align-items: center;
                border-left: 8px solid #0C73B8;
            }
        }

        .programming-languages {
            width: 384px;
            gap: 32px 96px;
    
            img {
                width: 144px;
                height: 144px;
            }
        }
    }
}

@media( width >= 1280px) {
    .skills {
        padding: 128px 0px;

        .development-cards {
            width: 720px;
            gap: 32px;
            justify-content: space-between;
        }

        .programming-languages {
            width: 960px;
            gap: 0;
            justify-content: space-between;
        }
    }
}